:root{
  --mediumpurple: #663a82;
  --purple: #52307c;
  --graypurple: #7c5295;
  --lightpurple: #b491c8;
  --palepurple: #d4beee;
  --orchid: #3c1361;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 50px;
}


textarea {
  resize: none;
}

.form-control {
  font-size: 20px;
  color: white;
  box-shadow: none!important;
  background-color: transparent!important;
}

#textarea {
  border-top: 1px solid var(--palepurple);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--purple);
  border-radius: 0;
  border-bottom: 1px solid var(--orchid);
}

.lead-custom {
  font-size: 1.5rem;
  color: var(--graypurple);
}

.hour {
  color: var(--orchid);
  border-top: 1px dashed var(--orchid);
  border-right: 1px solid var(--orchid);
  padding: 10px;
  text-align: right;
}

.future {
  background-color: var(--lightpurple);
}

.present {
  background-color: var(--graypurple);
}

.past {
  background-color: var(--purple);
} 

.saveBtn {
  border-left: 1px solid var(--orchid);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--orchid);
  color: #fff;
  padding: 22px;
  margin-left: -10px;
}

.saveBtn:focus {
  outline: none;
  box-shadow: none;
}

.saveBtn i:hover {
  /* font-size: 20px; */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
