:root{
  --purple: #A020F0;
  --zincwhite: #FDF8FF;
  --thistle: #CDB5CD;
  --bubblegum: #FF92BB;
  --hotpink: #EE6AA7;
  --orchid: #7A378B;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 50px;
}


textarea {
  resize: none;
  color: var(--orchid);
  background-color: var(--purple);
}

.form-control {
  box-shadow: none!important;
  background-color: transparent!important;
}

#textarea {
  background-color: var(--zincwhite);
  border-top: 1px solid var(--thistle);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--orchid);
  border-radius: 0;
  border-bottom: 3px solid var(--orchid);
}

.lead-custom {
  font-size: 1.5rem;
  color: var(--purple);
}

/* .description {
  white-space: pre-wrap;
} */


.hour {
  color: var(--orchid);
  border-top: 1px dashed var(--orchid);
  border-right: 1px solid var(--orchid);
  padding: 10px;
  text-align: right;
}

/* .past {
  background-color: var(--thistle);
}

.present {
  background-color: var(--bubblegum);
}

.future {
  background-color: var(--hotpink);
} */

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--orchid);
  color: var(--zincwhite);
  padding: 22px;
  margin-left: -10px;
}

.saveBtn i:hover {
  /* font-size: 20px; */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
